*
{
	margin: 0px;
	padding: 0px;
	
}
body{
	background-image: url(./../../assets/dd.jpg)
}

header, .main, footer
{
	width: 90%;
	margin: 20px auto;
	
}

div:active
{
	margin-left: 10%;
}
header div img 
{
	width: 100%;
	height: 150px;
	overflow: hidden;
	
}
header div img:hover
{
	width: 100%;
	height: 220px;
}

header nav
{
	background: linear-gradient(10deg,blue,green);
	overflow: hidden;
	border-radius: 5px;
	float: right;
	margin-bottom: 70px;
}

header nav ul
{
	list-style: none;
	display: flex;

}

header nav ul li
{
	position: relative;
	
	border-right: 1px solid rgba(242,51,124,.5);
}

header nav ul li a
{
	text-decoration: none;
	display: block;
	margin: 10px 40px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	float: right;
}

header nav ul li:hover
{
	background:#5d80d5;
}
header nav ul li a:hover
{
	font-size: 30px;
}

.main .articles
{
	width: 68%;
	margin-right: 2%;
	float: left;
}

.main .articles article h2
{
	margin-left: 60px;
	padding-bottom: 15px;

}

.main .articles article
{
	padding: 20px;
	background: linear-gradient(to left, #ED5B5B,#A63333);
	margin-bottom: 20px;
	border-radius: 10px;
	overflow: hidden;
	color: white;
}

p{
	display: inline-block;
}

.gg
{
	float: right;
	padding-bottom: 10px;
	margin: 0;
	display: flex;
}

aside
{
	width: 30%;
	height: 600px;
	background: linear-gradient(to top, blue,lightblue);
	float: left;
	padding: 20px;
	box-sizing:border-box;
	text-align: center;
	padding-bottom: 150px;
	border-radius: 10px;
	box-shadow: -9px 13px 10px #666;

}

.gga
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	border-radius: 20px;
	
}
.gga:hover
{
	transform: rotate(45deg);
}

aside h3
{
	padding-bottom: 15px;
	margin-left: 20px;
}

aside h3:hover
{
	color: blue;
	font-size: 20px;
}

footer
{
	background:rgba(0, 0, 0, 0.8);
	clear: both;
	padding: 30px 0px;
	text-align: center;
    border-radius: 10px;
    color: white;
	

}

